<%- include('./partials/title.ejs') %>
<title>About</title>
<%- include('./partials/header.ejs') %>

    <div class="content">
        <h2>About Us</h2>
        <p>We are excited that you have chosen us.</p>
        <p>The purpose of this initiative is to encourage the students as well as professionals to develop the demanding skills.</p>
        
    </div>


    <%- include('./partials/footer.ejs') %>
    
