<%- include('./partials/title.ejs') %>
<title>Contact</title>
<%- include('./partials/header.ejs') %>


    <div class="content">
        <h2>Contact Us</h2>
        <p>You can contact us via phone and email.The details are as follows.</p>
        <p>Contact : Pratik Patel</p>
        <p>Phone : XXX-XXX-XXXX</p>
        <p>Email : ppate192@uncc.edu</p>
    </div>


    <%- include('./partials/footer.ejs') %>
    
