<%- include('./partials/title.ejs') %>
<title>Home</title>
<%- include('./partials/header.ejs') %>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="../css/index.css">
</head>
<body>

    <div class="topnav">
        <a href="index.html"><img src="../images/logo4c.jpeg" class="logo-image" alt=""></a>
        <a href="index.html" id="logo">Code-terations</a>
        <ul>
            <li><a href="#signup">Sign up </a></li>
            <li><a href="#login">Log in </a></li>
            <li><a href="newConnection.html">Start a new connection </a></li>
        </ul>
        <hr class="hr">
        <a href="connections.html"><p>Connections</p></a>
        
    </div>
    <div class="topnav">
        
    </div> -->

    <div class="content">
        <h3>Welcome to Code-terations..!!</h3>
        <p>Looking for a place where you can learn how to code?</p>
        <p>Don't worry..!! We have got you. Code-terations is a coding club created for UNC Charlotte students by UNC Charlotte students.Here, you will find all the different kinds of tutorials and workshops to learn from. You want to learn HTML/CSS/Javascript for web development or you want to do some automation by python, Code-terations provides you all the resources which can help beginner as well as experts.</p>
        <p>We also organize various coding challenges for competitive coding which will ultimately help you become a better developer.</p>
    </div>


    <%- include('./partials/footer.ejs') %>
    
    <!-- <div class="footer">
        <ul>
            <li><a href="#">&copy;Code-terations</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            
        </ul>
      </div>

</body>

</html> -->
